<!DOCTYPE html>
<html>

<head>
    <title>Keystroke Recorder</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Keystroke Recorder</h1>
    <p>In the age of digital security, biometric authentication has become increasingly important. Keystroke dynamics
        analyze the unique way each person types, including the rhythm, speed, and pressure patterns. This technology
        can identify individuals based on their typing behavior, making it a valuable tool for protecting sensitive
        information and preventing unauthorized access to systems.</p>
        <textarea id="passwordInput" cols="80" rows="20"></textarea>
        <br>
    <button onclick="sendData()">Submit Data</button>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>